
@media screen and (max-width:780px){
    
    html{
        font-size: 35%;
    }

    header h1 {
        position: relative;
        z-index: 4;
    }

    header h1 img{
        width: 1.7rem;
        height: 1.9rem;
    }

    div[class="slidebar"]{
        top:0;
        right: 0;
        overflow: visible;
        height: 100vh;
        width: 0;
        display: flex;
        background-color: #11111b;
        justify-content: center;
        opacity: 0;
    }
    #submenu{
        width: 0 !important;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        
    }

    #submenu a{
        color: #ffffff !important;
    }

    #submenu li{
        margin-bottom: 30px;
    }

    input[id="menuicon"]:checked+label+div{
        width: 100vw;
        opacity: 1;
    }

    input[id="menuicon"]:checked+label+div #submenu{
        width: 100vw !important;
    }



    .cloud article{

        top: 50rem;
      }

    .cloud-article.show{
        position: relative;
          opacity: 1;
         top:26rem;
      }




      .webgl {
      top:-30rem !important;
      }
    

}





@media screen and (max-width:450px){

    header{
        height: 9rem;
    }

    header h1 {
        margin-left: 3rem;
    }

    .menu label{
        margin-right: 3rem;
    }  
    .s2 h2{
        font-size: 2.5rem;
      }

    #flip{

        font-size: 2.5rem;
 
      }

      canvas{

        top: 20rem;

      }

      .webgl {
        top:-15rem !important;
        }
      

      .curve h2{    

        font-size:3rem;

    
    }
    .cloud article{
        width:80%;
        margin:0 auto;
        top: 40rem;
      }

          .cloud article p{
        font-size: 1.5rem;
      }


      .cloud article .br{
        display: none;
      }

    .cloud-article.show{
        position: relative;
          opacity: 1;
         top:20rem;
      }

      .cloud-img{
        height: 40rem !important;
      }

}

@media screen and (max-width:400px){
    .s2 h2{
        font-size: 2rem;
      }

    #flip{

        font-size: 2rem;
 
      }

      
      canvas{

        top: 15rem;

      }
}