* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 55%;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #11111b;
  scroll-behavior: smooth;
  font-family: 'Inter';
}

main {
  z-index: 1;
  position: absolute;
  width: 100%;
}

header {
  z-index: 2;
  height: 12rem;
  /* background-color: #11111b; */
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid white; */
  align-items: center;
}

header h1 {
  margin-left: 9rem;
  font-weight: 500;
  font-size: 2.6rem;
  color: #ffffff;
}

header a {
  text-decoration: none;
}

header a img {
  width: 1.7rem;
  height: 1.9rem;
  margin-right: 1.5px;
}

.logo {
  width: 3.4rem;
  height: 3.4rem;
}

.menu label {
  margin-right: 9rem;
}

input[id='menuicon'] + label {
  display: block;
  cursor: pointer;
  position: relative;
  top: -0.3rem;
  right: 0px;
  z-index: 4;
}

input[id='menuicon'] + label img.logo {
  transition: all 0.8s ease-in-out;
}

input[id='menuicon']:checked + label img.logo {
  transform: rotate(180deg);
}

div[class='slidebar'] {
  position: absolute;
  width: 0px;
  height: 20px;
  right: 12rem;
  top: 4.8rem;
  transition: all 1.3s ease-in-out;
  overflow: hidden;
}

input[id='menuicon']:checked + label + .slidebar {
  width: 390px;
}

header #submenu {
  display: flex;
  position: absolute;
  width: 390px;
}

header #submenu li {
  padding: 0 20px;
}

header #submenu a:hover {
  color: #63f3f4 !important;
  transition: all 0.5s;
}

header nav ul li {
  display: inline-block;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  color: white;
}

header #submenu .stay {
  color: #63f3f4;
  transition: all 0.5s ease-in-out;
}

header #submenu .not-stay {
  color: white;
  transition: all 0.5s;
}

header #submenu .not-stay.a {
  color: #11111b;
  transition: all 0.5s;
}

header #submenu .not-stay:hover {
  color: #63f3f4;
}

/* .curve{
    text-align: center;
    background-color: #11111b;
    width: 100%; 
    height: 700px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;  
    display: flex;
    align-items: center;
}

.curve article{
    width: 100%;
} */

h2 {
  margin-top: 21.9rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 100;
  color: #ffffff;
  line-height: 2.22;
  letter-spacing: 0.225rem;
}

section {
  margin-top: 11rem;
}

section img {
  position: relative;
  z-index: 1;
}

footer {
  margin-top: 30rem;
  position: relative;
  bottom: 0%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

footer img {
  padding: 0.5% 0;
  margin-left: 15px;
}
